<header class="header">
  <div class="header-title">
    <h1><a href="/">Waves</a></h1>
  </div>
  <nav class="header-navigation">
    <ul class="nav">
      <li>
        <a href="{{ url_for('add_song') }}" class="btn">Upload Song</a>
      </li>
      <li><a href="{{ url_for('user_dashboard') }}" class="btn">
          User Account
        </a>
      </li>
      <li style="border: 1px solid grey;padding: 0.4em;border-radius: 1em;">{% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>